<div class="mt-3 mx-4 flex flex-col md:flex-row md:justify-between items-center bg-white p-4 rounded-lg shadow">
    <div class="inline-block 2xl:ml-4 text-center md:text-left">
        <p class="2xl:text-3xl text-xl sm:text-lg md:text-xl font-semibold whitespace-nowrap">Stock adjustment</p>
    </div>
    <div class="flex flex-wrap justify-center md:justify-end items-center gap-2 md:gap-4 mt-2 md:mt-0 w-full md:w-auto">
        <div class="relative w-full md:w-auto">
            <div class="absolute inset-y-0 left-2 pl-3 flex items-center pointer-events-none">
                <i class="fad fa-file-search text-sm"></i>
            </div>
            <input type="text" matInput (keyup)="applyFilter($event)" class="bg-gray-50 border-2 border-lime-600 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-[220px] 2xl:w-[300px] pl-10 p-2" placeholder="Search..." #input>
        </div>
        <!-- <button class="bg-green-700 text-xs md:text-sm p-2 text-white rounded-lg min-w-[110px] md:w-[124px] 2xl:w-[138px] h-auto">Create Company</button> -->
        <button class="bg-green-700 text-xs md:text-sm p-2 text-white rounded-lg min-w-[110px] md:w-[124px] 2xl:w-[138px] h-auto" (click)="exportAllExcel()">Export Excel</button>
        <button class="bg-green-700 text-xs md:text-sm p-2 text-white rounded-lg min-w-[80px] md:w-[124px] h-auto">Settings</button>
    </div>
</div>

<div class="max-w-xl mx-auto bg-white 2xl:mt-4 md:mt-3 mt-3 p-6 rounded-lg shadow-lg">
    <h2 class="text-xl font-bold mb-4 text-center">Adjust Stock</h2>
    <form [formGroup]="form" (ngSubmit)="onstockAdd()" class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
        
        <!-- Item Code -->
        <div>
            <label class="block text-sm font-medium text-gray-700">Item Code</label>
            <mat-form-field class="w-full">
                <mat-label>Item Code</mat-label>
                <input matInput #input formControlName="itemCode" placeholder="Scan Item Code" class="w-full border rounded-md p-2 focus:ring-blue-500 focus:border-blue-500">
            </mat-form-field>
        </div>

        <!-- Quantity -->
        <div>
            <label class="block text-sm font-medium text-gray-700">Quantity</label>
            <mat-form-field class="w-full">
                <mat-label>Quantity</mat-label>
                <input matInput #input type="number" placeholder="Qty" formControlName="quantity" class="w-full border rounded-md p-2 focus:ring-blue-500 focus:border-blue-500">
            </mat-form-field>
        </div>

        <!-- Buttons -->
        <div class="col-span-1 md:col-span-2 flex justify-end gap-4">
            <button mat-raised-button (click)="clearForm()" type="button" class="bg-green-400 text-white py-2 px-6 rounded-md shadow hover:bg-green-600 transition duration-300">
                Clear
            </button>
            <button mat-raised-button color="primary" type="submit" class="bg-green-500 text-white py-2 px-6 rounded-md shadow hover:bg-green-700 transition duration-300">
                Adjust
            </button>
        </div>

    </form>
</div>


<div class="mat-elevation-z8 overflow-x-auto w-[94%] 2xl:ml-[3%] md:ml-3 ml-1 mt-[20px]">
    <!-- Context Menu -->
    <mat-menu #rightClickMenu="matMenu" class="justify-between">
        <button mat-menu-item (click)="deselectElement(selectedRow)">Deselect</button>
        <button mat-menu-item (click)="deselectAllElement()">DeselectAll</button>
        <button mat-menu-item (click)="exportselectedRows()">Export Rows</button>
    </mat-menu>
    <!-- MatMenuTrigger (Hidden) -->
    <button mat-icon-button [matMenuTriggerFor]="rightClickMenu" #rightClickMenuTrigger="matMenuTrigger"
        style="display:inline-block;"></button>
    <mat-paginator class="mt-4" [pageSizeOptions]="[10,15, 20, 30,50,100,500]" showFirstLastButtons></mat-paginator>
    <div class=" overflow-auto max-h-[690px]">

        <div class="table-auto w-full mt-6">
            <table mat-table [dataSource]="dataSource" matSort class="min-w-full border-collapse">

                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef class="2xl:w-7">
                        <mat-checkbox (change)="$event ? toggleAllRows() : null "
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                            [aria-label]="checkboxLabel()">Select All
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row" (contextmenu)="onRightClick($event, row, rightClickMenuTrigger)">
                        <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <!-- Position Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
                    <td mat-cell *matCellDef="let element"
                        (contextmenu)="onRightClick($event, element, rightClickMenuTrigger)">
                        {{ element.id }}
                    </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="categoryCode">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
                    <td mat-cell *matCellDef="let element"
                        (contextmenu)="onRightClick($event, element, rightClickMenuTrigger)">
                        {{ element.adjustedItemCode }}
                    </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="categoryName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Item Id</th>
                    <td mat-cell *matCellDef="let element"
                        (contextmenu)="onRightClick($event, element, rightClickMenuTrigger)">
                        {{ element.itemId }}
                    </td>
                </ng-container>

                <!-- Header Row -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

                <!-- Data Rows -->
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell text-center" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
            </table>

        </div>
    </div>
</div>