.example-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* Column direction to make content stack on mobile */
}

.example-sidenav {
    width: 330px;
    background-color: #ffffff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.example-sidenav-content {
    display: flex;
    float: left;
    justify-content: center;
    margin-left: 20px;
    top: 20px;
    background-color: #f8f8f8;
}
.example-sidenav-content button i {
    color: #000000;
    font-size: 32px;
    transition:  0.5s ;

}
.submenu {
    list-style: none;
    padding-left: 10px;
    margin: 0;
  }
  .submenu-item {
  margin-top: 10px;
}


.sidenav-nav {
    list-style: none;
    padding: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 3.65rem);
    cursor: pointer;
}

.sidenav-nav-item {
    width: 110%;
    margin-bottom: 0.625rem;
}

.sidenav-nav-link {
    display: flex;
    align-items: center;
    height: 3rem;
    color: #289142;
    text-decoration: none;
    border-radius: 0.625rem;
    transition: color .9s ease;
}

.sidenav-link-icon {
    margin-right: 10px;
    font-size: 22px;
    width: 2rem;
    min-width: 2rem;
    margin: 0 24px;
    text-align: center;
}

.sidenav-link-text {
    font-size: 18px;
    margin-left: 30px;
    color: #000000;
    text-align: center;
    width: min-content;
    white-space: nowrap;
}

.active {
    background-color: #25680abe;
    .sidenav-link-icon,
    .sidenav-link-text{
        color: #ffffff;
    }
}
.sidenav-header {
    margin-bottom: 20px;
}

.sidenav-content p {
    margin: 10px 0;
}

button[mat-button] {
    margin-top: 20px;
}


/* Tablet Responsiveness */
@media (max-width: 768px) {
   .sidenav-link-icon {
        margin: 0 30px;
    }
/*hover in side*/
.sidenav-nav-item:hover {
    .sidenav-nav-link {
         background-color: #288d1b;
         color: #ffffff;
    }
}
    .example-container {
        flex-direction: column;
        /* Stack the drawer and content on smaller screens */
    }

    .example-sidenav {
        width: 100%;
        /* Make sidenav full-width on tablets */
        padding: 15px;
    }

    .example-sidenav-content {
        padding: 15px;
    }
}

/* Mobile Responsiveness */
@media (max-width: 480px) {
    .sidenav-link-icon {
        margin: 0 34px;
    }
    .example-container {
        flex-direction: column;
        /* Ensure the drawer and content stack on small screens */
    }

    .example-sidenav {
        width: 100%;
        /* Full-width sidenav on mobiles */
        padding: 10px;
    }

    .example-sidenav-content {
        padding: 10px;
    }

    .sidenav-header h3 {
        font-size: 18px;
        /* Smaller header text for mobile */
    }

    button[mat-button] {
        width: 100%;
    }
}
